<div class="banner d-flex justify-content-center align-items-center">
  <div class="banner-content text-center"
  style="background-image: url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : cl_image_path('h8jjiq7epp3cut755hlo') %>)">
    <h1 class="mb-2"><%= @list.name %></h1>
    <% if @list.movies.any? %>
      <p class="tag"><%= @list.movies.count %> movies</p>
    <% end %>
    <%# ACTION BUTTONS %>
    <%= render 'lists/action_buttons' %>
  </div>
</div>
