 <div class="form-container my-3">
    <h1>Create a new list</h1>
    <%= simple_form_for @list do |f| %>
      <%= f.input :name, label: "List name" %>
      <%= f.input :image_url, label: "Add photo URL for this list" %>
      <%= f.button :submit, class: "btn btn-success" %>
    <% end %>
  </div>
