<% @lists.each do |list| %>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <% if list.image_url %>
      <div class="list-card shadow-sm" style="background-image:url(<%= image_url(list.image_url) %>)">
        <p><%= link_to list.name, list_path(list) %></p>
      </div>
    <% else %>
      <div class="list-card shadow-sm" style="background-image: url('assets/thumbnail.jpg')">
        <p><%= link_to list.name, list_path(list) %></p>
      </div>
    <% end %>
  </div>
<% end %>
