<% @list.movies.each do |movie| %>
  <div class="col-sm-12 col-md-6">
    <div class="col-12 bg-white rounded shadow-sm">
      <div class="movie-img">
        <img src="<%= movie.poster_url%>" alt="">
      </div>
      <div class="carta-content p-3">
        <h3 class="fw-bold"><%= movie.title %> - <%= movie.rating %></h3 class="fw-bold">
        <p><%= movie.overview %></p>
      </div>
    </div>
  </div>
<% end %>
