<div class="form-container my-3">
  <%= simple_form_for [@list, @review] do |f| %>
    <%= f.input :content, placeholder: "Add your review here" %>
    <%= f.input :rating, collection: 1..5 %>
    <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>
