
<div class="banner d-flex flex-column justify-content-center align-items-center">
  <div class="banner-content">
    <h1>Save your favourite movies</h1>
  </div>
</div>

<div class="container my-3">
  <div class="d-flex my-4 justify-content-between align-items-center">
    <h3>My movie lists</h3>
    <%= link_to "Create list", new_list_path, class: "button" %>
  </div>
  <div class="lists-container row">
    <% @lists.each do |list| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
      <% if list.image_url %>
        <div class="list-card"
        style="background-image:url(<%= image_url(list.image_url) %>)">
          <p><%= link_to list.name, list_path(list) %></p>
        </div>
      <% else %>
        <div class="list-card"
        style="background-image: url('assets/thumbnail.jpg')">
          <p><%= link_to list.name, list_path(list) %></p>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>

</div>
