<div class="banner">
  <% if @list.movies.any? %>
    <p><%= @list.movies.count %> movies</p>
  <% end %>
</div>

<div class="banner">
  <h1><%= @list.name %> movies</h1>
</div>

<div class="container my-3">

  <% if @list.movies.any? %>
    <% @list.movies.each do |movie| %>
      <p><%= movie.title %></p>
    <% end %>
  <% else %>
    <h3>You don't have any movies in this list yet.</h3>
    <p>What about you try to add some?</p>
  <% end %>

</div>
