.tag {
  font-size: 14px;
  padding: 5px 20px;
  background: rgb(235, 255, 84);
  color: #000;
  border-radius: 3px;
  display: inline;
}

.button {
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3px;
  display: inline;
  margin-right: 10px;
}

.button-main {
  background: $blue;
  &:hover {
    background: $light-blue;
  }
}

.button-green {
  background: $green;
  &:hover {
    background: $light-green;
    color: #fff;
  }
}

.button-delete {
  background: $red;
  &:hover {
    background: $light-red
  }
}
