<header class="container py-3 d-flex justify-content-between align-items-center">
  <h1><%= link_to "Movies", lists_path %></h1>
  <div class="nav">
    <%= link_to "My lists", lists_path %>
    <%= link_to "New list", new_list_path %>
  </div>
</header>
